PastebookApp/Service References/PastebookService/Service13.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/PastebookModel" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/PastebookModel" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfGetPostComments_Result">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="GetPostComments_Result" nillable="true" type="tns:GetPostComments_Result" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfGetPostComments_Result" nillable="true" type="tns:ArrayOfGetPostComments_Result" />
  <xs:complexType name="GetPostComments_Result">
    <xs:sequence>
      <xs:element minOccurs="0" name="CONTENT" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DATE_CREATED" type="xs:dateTime" />
      <xs:element minOccurs="0" name="FIRST_NAME" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LAST_NAME" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GetPostComments_Result" nillable="true" type="tns:GetPostComments_Result" />
  <xs:complexType name="ArrayOfGetPostLikes_Result">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="GetPostLikes_Result" nillable="true" type="tns:GetPostLikes_Result" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfGetPostLikes_Result" nillable="true" type="tns:ArrayOfGetPostLikes_Result" />
  <xs:complexType name="GetPostLikes_Result">
    <xs:sequence>
      <xs:element minOccurs="0" name="FIRST_NAME" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LAST_NAME" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="USER_NAME" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GetPostLikes_Result" nillable="true" type="tns:GetPostLikes_Result" />
  <xs:complexType name="GetNewsfeed_Result">
    <xs:sequence>
      <xs:element minOccurs="0" name="CONTENT" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CREATED_DATE" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Comment_Count" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="FIRST_NAME" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="LAST_NAME" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Like_Count" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="POSTER_ID" type="xs:int" />
      <xs:element minOccurs="0" name="PROFILE_OWNER_ID" type="xs:int" />
      <xs:element minOccurs="0" name="PROFILE_PIC" nillable="true" type="xs:base64Binary" />
      <xs:element minOccurs="0" name="USER_NAME" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GetNewsfeed_Result" nillable="true" type="tns:GetNewsfeed_Result" />
  <xs:complexType name="ArrayOfGetFriendsList_Result">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="GetFriendsList_Result" nillable="true" type="tns:GetFriendsList_Result" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfGetFriendsList_Result" nillable="true" type="tns:ArrayOfGetFriendsList_Result" />
  <xs:complexType name="GetFriendsList_Result">
    <xs:sequence>
      <xs:element minOccurs="0" name="ABOUT_ME" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FIRST_NAME" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LAST_NAME" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PROFILE_PIC" nillable="true" type="xs:base64Binary" />
      <xs:element minOccurs="0" name="USER_NAME" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GetFriendsList_Result" nillable="true" type="tns:GetFriendsList_Result" />
  <xs:complexType name="ArrayOfGetCommentsNotif_Result">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="GetCommentsNotif_Result" nillable="true" type="tns:GetCommentsNotif_Result" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfGetCommentsNotif_Result" nillable="true" type="tns:ArrayOfGetCommentsNotif_Result" />
  <xs:complexType name="GetCommentsNotif_Result">
    <xs:sequence>
      <xs:element minOccurs="0" name="FIRST_NAME" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LAST_NAME" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NOTIF_ID" type="xs:int" />
      <xs:element minOccurs="0" name="NOTIF_TYPE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="POST_ID" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GetCommentsNotif_Result" nillable="true" type="tns:GetCommentsNotif_Result" />
  <xs:complexType name="ArrayOfGetLikesNotif_Result">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="GetLikesNotif_Result" nillable="true" type="tns:GetLikesNotif_Result" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfGetLikesNotif_Result" nillable="true" type="tns:ArrayOfGetLikesNotif_Result" />
  <xs:complexType name="GetLikesNotif_Result">
    <xs:sequence>
      <xs:element minOccurs="0" name="FIRST_NAME" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LAST_NAME" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NOTIF_ID" type="xs:int" />
      <xs:element minOccurs="0" name="NOTIF_TYPE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="POST_ID" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GetLikesNotif_Result" nillable="true" type="tns:GetLikesNotif_Result" />
</xs:schema>